@model candyshop_project.ViewModels.ChartDataViewModel;

<!DOCTYPE HTML>
<html>
<head>

</head>
<body>

	<h1>Market insight 
        <small class="text-muted">| A statistical summary</small>
    </h1>

    <div class="container_sale">
      <div class="fixed">
        <h3>Highest state revenue</h3>
        <div>
            <span>@Model.stateData.State</span>
            <span style="padding-left:3%">@Model.stateData.Amount$</span>
        </div>

      </div>
      <div class="flex-item">
        <h3>Top 3 loyal customer</h3>
        <div>
            @foreach(var customer in Model.LoyalCustomerData)
            {
                <span>@Html.DisplayFor(x=>customer.Name)</span>
                <span style="padding-left:3%">@Html.DisplayFor(x=>customer.Amount)$</span>
                <br />
            }
        </div>

      </div>
    </div>
    




    <h2>Revenue summary</h2>
    <div id="chartContainerColumn" style="height: 370px; width: 100%;margin-top:6%"></div>
    <div id="chartContainerLine" style="height: 370px; width: 100%;margin-top:10%"></div>
	
</body>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
window.onload = function () {
    $("#image").hide();

    var amountPerDayChartData= @Html.Raw(ViewBag.DataPointsAmountPerDay);
    var revenueData= @Html.Raw(ViewBag.DataPointsRevenue);

    SaleAmountPerDay(amountPerDayChartData);
    SaleRevenuePerDay(revenueData);
}
</script>
</html>   