@model candyshop_project.ViewModels.StatisticalDataViewModel;

<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript">
           function AjaxFormSubmit() {
            //Set the URL.
            var url = $("#myForm").attr("action");
 
            //Add the Field values to FormData object.
            var formData = new FormData();
            formData.append("filterValue", $("#optionval").val());
 
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                processData: false,
                contentType: false
            }).done(function (response) {
                console.log(response.popularProducts);

                var trHTML = '';
        $.each(response.popularProducts, function (i, item) {
            trHTML += '<tr><td>' + item.name + '</td><td>' + item.price+ '</td><td>' + item.amount + '</td></tr>';
        });
        $('#popularProducts').empty().append(trHTML);
            });
        }
    </script>
</head>
<body>

    <h1>
        Market insight
        <small class="text-muted">| A statistical summary</small>
    </h1>
    <hr />

    @{ if (Model.Symbols != null)
        {
            <h4>Choose currency: </h4>
            <select id="selectCurrency">
                @foreach (var item in Model.Symbols)
                {
                    <option>@item</option>
                }
            </select>
        }
    }

    <div class="container_sale">
        <div class="fixed">
            <h3>Highest state revenue</h3>
            <div>
                <span>@Model.stateData.State</span>
                <span style="padding-left:3%" class="values">@Model.stateData.Amount</span>
            </div>

        </div>
        <div class="flex-item">
            <h3>Top 3 loyal customers</h3>
            <div>
                @foreach (var customer in Model.LoyalCustomerData)
                {
                    <span>@customer.Name</span>
                    <span style="padding-left:3%" class="values">@customer.Amount</span>
                    <br />
                }
            </div>

        </div>

    </div>

    <h2>Sale analysis</h2>
    <div id="chartContainerColumn" style="height: 370px; width: 100%;margin-top:6%"></div>
    <div id="chartContainerLine" style="height: 370px; width: 100%;margin-top:10%"></div>

    <h3>Popular products in last month</h3>
    <div>
    <form id="myForm" method="post" asp-controller="Statistic" asp-action="PopularProductFilter">
        <select id="optionval">
            <option value="100">100</option>
            <option value="50">50</option>
            <option value="10">10</option>
        </select>
        
    <input type="button" value="Submit" onclick="AjaxFormSubmit()"/>
    </form>
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Candy</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody id="popularProducts">
                @foreach (var item in Model.PopularProducts)
                {
                    <tr>
                        <td> @item.Name </td>
                        <td class="values"> @item.Price </td>
                        <td> @item.Amount</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

    <h2>Product inventory</h2>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Candy</th>
                    <th>Price</th>
                    <th>Amount left in stock</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InventoryData)
                {
                    <tr>
                        <td> @item.Name </td>
                        <td class="values"> @item.Price </td>
                        <td> @item.Amount</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>
</html>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const select = document.getElementById("selectCurrency");
    let values = []
    let originalValues = []

    const getTotalInCurrency = (currency) => {
                $.ajax({
            url: "/Admin/GetTotalInCurrency",
            type: "get",
                    data: {
                        "currency": currency, "orderDate": "@DateTime.Now"
            },
            success: function (data) {

                if (data) {
                    for (var i = 0; i < values.length; i++) {
                        const number = originalValues[i] * parseFloat(data.replace(",", "."))
                        values[i].innerHTML = `${number.toFixed(2)} ${currency}`
                    }
                } else {
                    $("#orderTotal").html("ERROR")
                }
            }
        })
    }
    window.onload = function () {

 
        $("#image").hide();

        var amountPerDayChartData= @Html.Raw(ViewBag.DataPointsAmountPerDay);
        var revenueData= @Html.Raw(ViewBag.DataPointsRevenue);

        values = $(".values").toArray();

        values.map(value => {
            originalValues.push(parseFloat(value.innerHTML.replace(",", ".")))
        });


        SaleAmountPerDay(amountPerDayChartData);
        SaleRevenuePerDay(revenueData);

        select.value = "SEK";
        getTotalInCurrency(select.value);

        


    }


    select.addEventListener("change", (e) => {
        getTotalInCurrency(e.target.value)
    })



</script>

