@model candyshop_project.ViewModels.StatisticalDataViewModel;

<!DOCTYPE HTML>
<html>
<head>

</head>
<body>

	<h1>Market insight 
        <small class="text-muted">| A statistical summary</small>
    </h1>

    <div class="container_sale">
      <div class="fixed">
        <h3>Highest state revenue</h3>
        <div>
            <span>@Model.stateData.State</span>
            <span style="padding-left:3%">@Model.stateData.Amount$</span>
        </div>

      </div>
      <div class="flex-item">
        <h3>Top 3 loyal customer</h3>
        <div>
            @foreach(var customer in Model.LoyalCustomerData)
            {
                <span>@Html.DisplayFor(x=>customer.Name)</span>
                <span style="padding-left:3%">@Html.DisplayFor(x=>customer.Amount)$</span>
                <br />
            }
        </div>

      </div>

    </div>
   
    <h2>Sale analysis</h2>
    <div id="chartContainerColumn" style="height: 370px; width: 100%;margin-top:6%"></div>
    <div id="chartContainerLine" style="height: 370px; width: 100%;margin-top:10%"></div>

    <h3>Popular products in last month</h3>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Candy</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.PopularProducts)
                {
                    <tr>
                        <td> @item.Name </td>
                        <td> @item.Price </td>
                        <td> @item.Amount</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

    <h2>Product inventory</h2>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Candy</th>
                    <th>Price</th>
                    <th>Amount left in stock</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.InventoryData)
                {
                    <tr>
                        <td> @item.Name </td>
                        <td> @item.Price </td>
                        <td> @item.Amount</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>
</html>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
window.onload = function () {
    $("#image").hide();

    var amountPerDayChartData= @Html.Raw(ViewBag.DataPointsAmountPerDay);
    var revenueData= @Html.Raw(ViewBag.DataPointsRevenue);

    SaleAmountPerDay(amountPerDayChartData);
    SaleRevenuePerDay(revenueData);
    }

</script>

