@model IEnumerable<Order>

<table class="table">
    <thead>
        <tr>
            <th scope="col">OrderId</th>
            <th scope="col">Date of order</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr class="row-link" scope="row">
                <th>@item.OrderId</th>
                <th>@item.OrderPlaced.ToString("yyyy-MM-dd")</th>
                <th>@item.FirstName @item.LastName</th>
                <th>@($"{item.Address}, {item.ZipCode}, {item.City}, {item.State}")</th>
            </tr>
        }

    </tbody>
</table>

<script>
    $(".row-link").click((e) => {
        window.location.replace(`/Admin/OrderLogDetails/${e.currentTarget.cells[0].innerText}`)
    }).hover(function () {
        $(this).css("cursor", "pointer").css("background", "lightgrey")
    },
        function () {
            $(this).css("cursor", "default").css("background", "white")
        })
</script>