@model OrderLogViewModel

<h1>OrderId: @Model.Order.OrderId</h1>
<h4>Distance from warehouse to @Model.Order.City: @Model.Distance </h4>
<h4>Time to deliver to @Model.Order.City: @Model.Duration</h4>
<h4>Order Total: @Model.Order.OrderTotal</h4>

<h1>Products</h1>
@if (Model.Candies.Count > 0)
{
    foreach (var candy in Model.Candies)
    {
        <partial name="_candyCard" model="new CandyCardViewModel { Candy=candy, BestDiscount=candy.FindBestDiscount(DateTime.Now) }" />
    }
}

<div>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="OrderLogs">Back</a>
</div>
