@model CandyCardViewModel  

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.Candy.ImageThumbnailUrl" alt="imge for candy" />
        <div class="caption">
            <h3 class="pull-right">
                @if(Model.BestDiscount is null){
                    <mark>@Model.Candy.Price.ToString("c")</mark>;
                }
                else
                {
                    <del>@Model.Candy.Price.ToString("c")</del>;
                    <mark>@Model.BestDiscount.PriceWithDiscount.ToString("c")</mark>;
                }
            </h3>
            <h3><a asp-controller="Model.Candy" asp-action="Details" asp-route-id="@Model.Candy.CandyId">@Model.Candy.Name</a></h3>
            <p>@Model.Candy.Description</p>
        </div>
        <div class="addToCart">
            @if (Model.Candy.IsInStock())
            {
                <p class="button">
                    <a class="btn btn-primary"
                       asp-controller="ShoppingCart"
                       asp-action="AddToShoppingCart"
                       asp-route-candyId="@Model.Candy.CandyId">Add to Cart</a>
                </p>
            }
            else
            {
                <p class="button">
                    <a on class="btn btn-default disabled">Out of stock</a>
                </p>
            }

        </div>
    </div>
</div>